body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

header h1 {
  text-align: center;
  color: #4a4a4a;
}

section {
  margin-bottom: 1rem;
}

h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
  color: #555;
  margin-top: 0;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input[type="url"],
input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #0056b3;
}

button.secondary {
  background-color: #6c757d;
}

button.secondary:hover {
  background-color: #5a6268;
}

.links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex: 1;
}

.links-list li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.display-view,
.edit-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.link-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  word-break: break-all;
}

.link-info strong {
  font-size: 1.1rem;
}

.link-info small {
  color: #777;
  font-size: 0.9rem;
  margin-top: 4px;
}

.edit-view input[type="url"] {
  flex-grow: 1;
}
